{{ form_start(form, { 'attr' : { 'id' : 'form-participate', 'class' : 'needs-validation', 'data-url' : path('front_done_participate') } }) }}
<div id="div-form" class="uk-card uk-card-default" xmlns="http://www.w3.org/1999/html">
    <div class="uk-card-body p-3">
        <div class="form-fields">
            <div class="uk-text-left ab-color-telegram-text uk-text-bold">
                <div id="form_first_step">
                    <p class="uk-legend uk-text-center">Étape 1 <span id="mini-ticket-span" style="display: none; font-size: 12px"><br>*10 tickets minimum</span></p>

                    <div class="form-group row m-1">
                        {{ form_label(form.email) }}
                        <div class="col-lg-6">
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                    <div class="form-group row m-1">
                        {{ form_label(form.name) }}
                        <div class="col-lg-6">
                            {{ form_widget(form.name) }}
                        </div>
                    </div>
                    <div class="form-group row m-1">
                        {{ form_label(form.telegram) }}
                        <div class="col-lg-6">
                            {{ form_widget(form.telegram) }}
                        </div>
                    </div>
                    <div class="form-group row m-1">
                        {{ form_label(form.ticketNumber) }}
                        <div class="col-lg-6">
                            {{ form_widget(form.ticketNumber) }}
                        </div>
                    </div>
                    <div class="form-group row m-1">
                        <div class="col-md-12">
                        <span style="font-size: 14px" class="col-lg-10">{{ form_label(form.agreeCondition) }}</span>
                            {{ form_widget(form.agreeCondition) }}
                        </div>
                    </div>
                </div>

                <div id="file_import_binance" style="display: none;">
                    <div class="row">
                        <p class="uk-legend uk-text-center">Étape 2 <span style="font-size: 12px"><br>*10 tickets minimum</span></p>
                    </div>
                    <div class="row">
                        <img class="col-8 offset-2" src="{{ asset('build/images/qr_code_binance.png') }}"
                                {{ stimulus_controller('symfony/ux-lazy-image/lazy-image') }}
                             alt="QR Code Binance Wallet" width="200">
                        <small class="text-center mt-2" style="font-size: 10px">Envoyez seulement des USDT sur cette adresse de dépôt.</small>
                        <p class="text-center mt-3">Réseau: TRON (TRC20)</p>

                    </div>
                    <div class="row mt-2 mb-3 justify-content-center">
                        <p class="col-lg-2">USDT</p><code class="col-lg-8" style="font-size: 13px; color: black;">TViRzRVkmv4EjdcngtZ89A7RnX5JhYCjFr</code>
                    </div>

                    <div class="row">
                        <div class="uk-margin ab-vich-image">
                            {% if form.vars.value.image is not null %}
                                <div><img src="/assets/images/participants/{{ form.vars.value.image }}" class="ab-participant-logo" /> </div>
                            {% endif %}
                            <div uk-form-custom="target: true" class="row justify-content-center">
                                {{ form_widget(form.imageFile) }}
                                <button class="text-center ab-button-next-form w-50">Télécharger</button>
                                <input class="uk-input uk-form-width-medium col-4" type="text" placeholder="Select file" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-card-footer">
        <div id="binance-div—content" style="display: none">
            <button class="ab-button-next-form" id="next-button-binance" type="button">Suivant</button>
            <button class="ab-button-next-form uk-align-right" type="submit" id="button-save-binance" style="display:none;">{{ button_label|default('Sauvegarder') }}</button>
        </div>
        <div id="next-button-div"></div>
    </div>
</div>

{{ form_end(form) }}
