{{ form_start(form, { 'attr' : { 'id' : 'form-participate', 'class' : 'needs-validation', 'data-url' : path('front_done_participate') } }) }}
<div id="div-form" class="uk-card uk-card-default">
    <div class="uk-card-body p-3">
        <div class="form-fields">
            <div class="uk-text-left ab-color-telegram-text uk-text-bold">
                <div id="form_first_step">
                    <p class="uk-legend uk-text-center">Étape 1 <span id="mini-ticket-span" style="display: none;">(10 tickets minimum)</span></p>

                    <div class="form-group row m-1">
                        {{ form_label(form.email) }}
                        <div class="col-lg-6">
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                    <div class="form-group row m-1">
                        {{ form_label(form.name) }}
                        <div class="col-lg-6">
                            {{ form_widget(form.name) }}
                        </div>
                    </div>
                    <div class="form-group row m-1">
                        {{ form_label(form.telegram) }}
                        <div class="col-lg-6">
                            {{ form_widget(form.telegram) }}
                        </div>
                    </div>
                    <div class="form-group row m-1">
                        {{ form_label(form.ticketNumber) }}
                        <div class="col-lg-4">
                            {{ form_widget(form.ticketNumber) }}
                        </div>
                    </div>
                    <div class="form-group row m-1">
                        <span style="font-size: 14px" class="col-lg-8">{{ form_label(form.agreeCondition) }}</span>
                        <div class="col-lg-4">
                            {{ form_widget(form.agreeCondition) }}
                        </div>
                    </div>
                </div>

                <div id="file_import_binance" style="display: none;">
                    <div class="row">
                        <p class="col-6 ab-color-telegram-text">Étape 2 (10 tickets minimum)</p>
                        <p class="col-6">Réseau: TRON (TRC20)</p>
                        <img class="col-9 offset-1" src="{{ asset('build/images/qr_code_binance.png') }}"
                                {{ stimulus_controller('symfony/ux-lazy-image/lazy-image') }}
                             alt="QR Code Binance Wallet" width="200">
                        <code class="col-10 offset-1">TViRzRVkmv4EjdcngtZ89A7RnX5JhYCjFr</code>
                        <p class="col-10 offset-1">CRYPTO: USDT</p>
                    </div>

                    <div class="row">
                        <div class="uk-margin ab-vich-image">
                            {% if form.vars.value.image is not null %}
                                <div><img src="/assets/images/participants/{{ form.vars.value.image }}" class="ab-participant-logo" /> </div>
                            {% endif %}
                            <div uk-form-custom="target: true" class="row">
                                {{ form_widget(form.imageFile) }}
                                <input class="uk-input uk-form-width-medium col-4" type="text" placeholder="Select file" >
                                <button class="uk-button uk-button-default col-8">Uploader une image</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-card-footer">
        <div id="binance-div—content" style="display: none">
            <button class="ab-button-next-form" id="next-button-binance" type="button">Suivant</button>
            <button class="uk-button uk-button-primary yk-button-blue uk-align-right" type="submit" id="button-save-binance" style="display:none;">{{ button_label|default('Sauvegarder') }}</button>
        </div>
        <div id="next-button-div"></div>
    </div>
</div>

{{ form_end(form) }}
