{{ form_start(form) }}
    <div uk-grid>
        <div>
            <div class="uk-margin">
                {{ form_row(form.name) }}
            </div>
            <div class="uk-margin">
                {{ form_widget(form.beginDate) }}
            </div>
            <div class="uk-margin">
                {{ form_row(form.isActive) }}
            </div>
        </div>
        <div>
            <button class="uk-button uk-button-primary ab-button-blue uk-align-left m-2">{{ button_label|default('Sauvegarder') }}</button>
        </div>
    </div>
{{ form_end(form) }}
