<header id="header-card">
    <div class="row row-div" style="width: 100%">
        <div class="col-lg-4 mt-5 div-button-social">
            <div class="row offset-lg-1" style="width: 287px; height: 64px;">
                <a href="https://t.me/telegamefr" target="_blank" class="ab-button-next-form m-2 p-2 div-button-social">
                    <img src="https://img.icons8.com/color/48/000000/telegram-app--v1.png" class="position-absolute" style="left: 50px;
    top: 67px;
    width: 45px;" width="30" alt="telegram_logo" /> &nbsp;<span class="text-social-button">&nbsp; &nbsp;rejoindre le canal &nbsp;</span></a>
            </div>
            <div class="row offset-lg-1" style="width: 287px;">
                <a href="https://www.instagram.com/telegame_fr/?hl=fr" target="_blank" class="ab-button-next-form m-2 p-2 div-button-social">
                    <img src="{{ asset('build/images/instagram.png') }}" width="30" alt="instagram_logo"
                         class="position-absolute" style="left: 54px;
    top: 134px;
    width: 38px;"/> <span class="text-social-button">&nbsp; &nbsp;suivre instagram</span></a>
            </div>
        </div>
        <div class="col-lg-5">
            <img src="{{ asset('build/images/rond_jaune.png') }}" alt="yellow_circle" id="yellow_circle">
            <a href="{{ path('front_home') }}">
                <img src="{{ asset('build/images/image0.389e1ba3.png') }}" id="logo_telegame" alt="binance_coin"/>
            </a>
        </div>
        <div class="col-lg-3 squared-div">
            <img src="{{ asset('build/images/carre_jaune.png') }}" alt="yellow_circle" id="yellow_square">
            <p id="text_droite" class="col-1" style="text-align: end">LE NOUVEAU JEU TELEGRAM EN VOGUE</p>
        </div>
        <div>
            <a href="https://t.me/telegamefr" target="_blank" class="ab-button-next-form m-2 p-2 text-social-button_telegram"><img src="https://img.icons8.com/color/48/000000/telegram-app--v1.png" width="30" alt="telegram_logo" /> &nbsp;</a>
        </div>
        <div>
            <a href="https://www.instagram.com/telegame_fr/?hl=fr" target="_blank" class="ab-button-next-form m-1 p-2 text-social-button_instagram"><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png" width="30" alt="instagram_logo" /> &nbsp;</a>
        </div>
    </div>
    {% if 'front_home' in app.request.attributes.get('_route') %}
    <div class="row m-0" style="width: 100%">
        <img src="{{ asset('build/images/text_header_center.png') }}" alt="text" >
    </div>
{% endif %}

</header>
